header,
footer {
    height: 100px;
    text-align: center;
}

html,
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

.scene {
    position: fixed;
    width: 1000px;
    height: 750px;
    background-repeat: no-repeat;
    background-size: 1000px 750px;
    opacity: 1;
}

.scene>.dt_img {
    cursor: pointer;
    position: absolute;
}

.scroll {
    position: fixed;
}

.overlay {
    height: 750px;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 1;
    overflow: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: absolute;
    top: 100px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.grid_check {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.grid_check>img {
    place-self: center;
    height: 100px;
    cursor: pointer;
}

.correct {
    border: 5px solid green;
}

.wrong {
    border: 5px solid red;
}

.speech-bubble {
    position: relative;
    width: 320px;
    padding: 8px;
    margin: 3em;
    background-color: #FFFFFF;
    color: #666;
    font: normal 12px "Segoe UI", Arial, Sans-serif;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 5px solid rgba(0, 0, 0, 0.095);
}

.speech-bubble p {
    font-size: 1.25em;
}

.speech-bubble:after {
    content: "\0020";
    display: block;
    position: absolute;
    top: -10px;
    /* Offset top the height of the pointer's border-width */
    left: 20px;
    z-index: 2;
    width: 0;
    height: 0;
    overflow: hidden;
    border: solid 10px transparent;
    border-top: 0;
    border-bottom-color: #FFF;
}

.speech-bubble:before {
    top: -30px;
    /* Offset of pointer border-width + bubble border-width */
    z-index: 1;
    border-bottom-color: rgba(0, 0, 0, 0.095);
}