header,
footer {
    height: 100px;
    text-align: center;
}

#container {
    width: 100%;
    height: 800px;
}

div {
    position: fixed;
}

.bg {
    width: 100%;
    height: 800px;
    /* position: relative;
    display: inline-block;
    overflow: hidden; */
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nav {
    position: fixed;
    z-index: 100;
    bottom: 1em;
    padding: 1em 5em 0 5em;
    width: 100%;
    margin: auto;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}

.nav li {
    flex: 1;
    display: inline-block;
    list-style: none;
    margin: .5em;
}

.nav a {
    display: block;
    padding: .5em 1em;
    color: black;
    border-radius: 3px;
    background: rgba(0, 0, 0, .6);
    text-align: center;
}

.nav a:not(:hover) {
    text-decoration: none;
}

.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    opacity: 0.8;
    overflow-x: hidden;
    transition: 0.5s;
}

.overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
}

.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
    color: #f1f1f1;
}

.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}